datacenter              = "{{ nomad_datacenter }}"
data_dir                = "/opt/nomad/data"
bind_addr               = "0.0.0.0"
name                    = "{{ inventory_hostname }}"

log_level               = "{{ nomad_logs_level }}"
log_file                = "/var/log/nomad/"
log_rotate_duration     = {{ nomad_logs_rotation }}
log_rotate_max_files    = {{ nomad_logs_max_files }}

advertise {
  http                  = "{{ ansible_host }}"
  rpc                   = "{{ ansible_host }}"
  serf                  = "{{ ansible_host }}"
}

client {
  enabled = true
  network_interface = "{{ nomad_network_interface }}"
  servers = [
    {%- for server in groups[nomad_servers_host_group] -%}
    "{{ hostvars[server].ansible_host }}"
    {%- endfor -%}
  ]
}